.row1 {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.container-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid #ccc;
}
.chapter-controls {
  display: flex;
  gap: 8px;
}
.btn-custom {
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  padding: 5px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}
.btn-custom.active {
  background-color: #0d6efd;
  color: white;
}
.btn-custom:hover {
  background-color: #ddd;
}

.dropdown-font {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(18, 18, 18, 0.87);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100;
  width: 170px;
}

.dropdown-font:hover .dropdown-content {
  display: block;
}
.dropdown-content button {
  width: 100%;
  border: none;
  background: none;
  padding: 8px;
  text-align: left;
  cursor: pointer;
  color: white;
}
.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.novel-content {
  margin-top: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 1.8;
}

.breadcrumb__links a {
  font-size: 15px;
  color: #030303;
  margin-right: 18px;
  display: inline-block;
  position: relative;
}
.breadcrumb__links span {
  font-size: 15px;
  color: #116bf3;
  display: inline-block;
}

/* navbar */
.category-list {
  padding: 20px;
  background-color: rgb(32 32 32/ 1);
  border-radius: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.category-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 30px; /* Space between columns */
  position: relative;
}

.category-list ul li {
  margin-bottom: 10px;
}

.category-list ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s;
}

.category-list ul li a:hover {
  color: #818181;
}
ul.dropdown {
  display: none; /* Hide the dropdown by default */
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  width: 100%; /* Full width */
  display: flex;
  flex-wrap: wrap;
}

/* Show the dropdown menu on hover */
li:hover > ul.dropdown {
  display: flex;
}

/* Style for the dropdown items */
ul.dropdown li {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  flex: 1 1 50%;
}

ul.dropdown li a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

ul.dropdown li a:hover {
  background-color: #f1f1f1;
}

.custom-link {
  color: inherit; /* Use the inherited color */
  text-decoration: none; /* Remove underline */
  color: #2563eb;
}

.custom-link:hover {
  color: inherit; /* Keep the inherited color on hover */
  text-decoration: underline; /* Optional: Add underline on hover */
  color: #2563eb;
}
.modal-footer.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-footer p {
  margin-bottom: 0;
}
.font-14 {
  font-size: 14px;
}
.absolute {
  position: absolute;
  top: 50%;
  right: 50%;
}
.custom-modal-width {
  max-width: 450px; /* Adjust the width as needed */
}

/* button search and user */
.user-button {
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 5px;
  color: #ffff;
}

.search-button1 {
  font-weight: bold;
  border-radius: 5px;
  color: #ffff;
}
.search-button1 i {
  font-size: 18px;
}
.user-button i {
  font-size: 18px;
}
.sign-in-container {
  position: relative;
  display: inline-block;
}

.user-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 150px;
  background: rgba(18, 18, 18, 0.87);
  text-align: left;
  padding: 3px 0;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  list-style: none;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 15px;
}

.user-dropdown li {
  padding: 8px 15px;
}

.user-dropdown li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px; /* Khoảng cách giữa icon và chữ */
}

.user-dropdown li a i {
  font-size: 16px;
  color: #ccc; /* Màu icon */
}
.user-dropdown li a:hover {
  color: #c72526;
}

/* Khi có class .show, dropdown sẽ hiển thị */
.user-dropdown.show {
  opacity: 1;
  visibility: visible;
}
