.section-title {
  display: flex;
  gap: 8px;
}

.font-20 {
  font-size: 20px !important;
}
.font-24 {
  font-size: 24px !important;
}

.text-black {
  color: black !important;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  font-size: 21px;
  position: relative;
  font-family: "Oswald", sans-serif;
}

/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-option {
  padding-top: 35px;
}

.breadcrumb__links a {
  font-size: 16px;
  color: #1f2129;
  margin-right: 18px;
  display: inline-block;
  position: relative;
}

.breadcrumb__links a i {
  margin-right: 5px;
  color: #e53637;
}

.breadcrumb__links a:after {
  position: absolute;
  right: -14px;
  top: 0;
  content: "";
  font-family: "FontAwesome";
}

.breadcrumb__links span {
  font-size: 16px;
  color: #565656;
  display: inline-block;
}

/* Menu dropdown   */
ul.dropdown {
  display: none; /* Hide the dropdown by default */
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  width: 100%; /* Full width */
  display: flex;
  flex-wrap: wrap;
}

/* Show the dropdown menu on hover */
li:hover > ul.dropdown {
  display: flex;
}

/* Style for the dropdown items */
ul.dropdown li {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  flex: 1 1 50%;
}

ul.dropdown li a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

ul.dropdown li a:hover {
  background-color: #f1f1f1;
}
/* button search and user */
.user-button {
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 5px;
  color: #1f2129;
}

.search-button1 {
  font-weight: bold;
  border-radius: 5px;
  color: #1f2129;
}
.search-button1 i {
  font-size: 18px;
}
.user-button i {
  font-size: 18px;
}
.user-button:hover,
.search-button1:hover {
  color: #1f2129; /* Giữ nguyên màu khi hover */
}
.sign-in-container {
  position: relative;
  display: inline-block;
}

.user-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 150px;
  background: rgba(18, 18, 18, 0.87);
  text-align: left;
  padding: 3px 0;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  list-style: none;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 15px;
}

.user-dropdown li {
  padding: 8px 15px;
}

.user-dropdown li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px; /* Khoảng cách giữa icon và chữ */
}

.user-dropdown li a i {
  font-size: 16px;
  color: #ccc; /* Màu icon */
}
.user-dropdown li a:hover {
  color: #c72526;
}

/* Khi có class .show, dropdown sẽ hiển thị */
.user-dropdown.show {
  opacity: 1;
  visibility: visible;
}

/* Truyen Details */
.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1300px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-20deg);
  }
}

.book {
  width: 275px;
  height: 375px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-20deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book-container:hover .book,
.book-container:focus .book {
  transform: rotateY(0deg);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 275px;
  height: 375px;
  transform: translateZ(30px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: " ";
  background-color: blue;
  left: 0;
  top: 3px;
  width: 58px;
  height: 369px;
  transform: translateX(242px) rotateY(90deg);
  background: linear-gradient(
    90deg,
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
  );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 275px;
  height: 375px;
  transform: translateZ(-30px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: -10px 0 50px 10px #666;
}
.primary-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 30px;
  color: #ffffff;
  background-color: rgb(54, 109, 229);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.truyen_button {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.primary-btn:hover {
  background-color: rgb(62, 123, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.primary-btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Fix for button element with href attribute */
button[href] {
  text-decoration: none;
}
.truyen-details {
  padding-top: 60px;
}

.truyen__details__content {
  margin-bottom: 65px;
}

.truyen__details__text {
  position: relative;s
}

.truyen__details__text p {
  color: #565656;
  font-size: 18px;
  line-height: 30px;
}

.truyen__details__pic {
  height: 440px;
  border-radius: 5px;
  position: relative;
}

.truyen__details__pic .comment {
  font-size: 13px;
  color: #ffffff;
  background: #3d3d3d;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 4px;
  position: absolute;
  left: 10px;
  bottom: 25px;
}

.truyen__details__pic .view {
  font-size: 13px;
  color: #ffffff;
  background: #3d3d3d;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  bottom: 25px;
}

.truyen__details__title {
  margin-bottom: 20px;
}

.truyen__details__title h3 {
  color: #1f2129;
  font-weight: 700;
  margin-bottom: 13px;
}

.truyen__details__title span {
  font-size: 16px;
  color: #565656;
  display: block;
}

.truyen__details__rating {
  display: flex;
  align-items: center;
  gap: 10px; /* Khoảng cách giữa sao và chữ */
}

.truyen__details__rating .rating i {
  font-size: 17px;
  color: #e89f12;
  display: inline-block;
}

.truyen__details__rating span {
  display: block;
  font-size: 18px;
  color: rgb(250, 124, 20);
}

.truyen__details__widget {
  margin-bottom: 15px;
}

.truyen__details__widget ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.truyen__details__widget li {
  display: grid;
  grid-template-columns: 30px 150px 10px auto; /* Cột 1: icon, Cột 2: tiêu đề, Cột 3: dấu :, Cột 4: nội dung */
  align-items: center;
  gap: 10px;
}

.truyen__details__widget ul li {
  list-style: none;
  font-size: 15px;
  color: #565656;
  line-height: 30px;
  position: relative;
}

.truyen__details__widget ul li span {
  color: #565656;
  width: 150px;
  display: inline-block;
}


/* Gioi thieu & danh sach chương  */
.section-title {
  display: flex;
  align-items: center;
  position: relative;
}

.separator {
  width: 2px;
  height: 25px;
  background-color: black; /* Màu của gạch */
  margin: 0 10px; /* Khoảng cách giữa các chữ */
}

.tab {
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
  color: black;
  transition: color 0.3s ease;
}

.underline {
  width: 100px;
  height: 2px;
  background-color: blue;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all 0.3s ease;
}

.tab.active {
  color: black;
  font-weight: bold;
}

.tab.inactive {
  color: gray;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}

.table {
  width: 100%;
}

.table td {
  padding: 13px;
  border-bottom: 1px solid #ddd;
}
.table td a:hover {
  color: rgba(70, 4, 100, 0.77);
  text-decoration: none;
}

.table a {
  text-decoration: none;
  color: black;
}

.table a:hover {
  text-decoration: underline;
}
.table1 {
  width: 100%;
}

.table1 td {
  padding-bottom: 10px;
}

.table1 a {
  text-decoration: none;
  color: black;
}

.table1 a:hover {
  color: black;
  text-decoration: underline;
}
.tab-content p {
  font-size: 16px;
  color: #1f2129; /* Màu chữ */
  line-height: 25px;
}
/* End Gioi thieu & danh sach chương  */

 /* Bình luận  */
.truyen__review__item {
  overflow: hidden;
  margin-bottom: 15px;
}

.truyen__review__item__pic {
  float: left;
  margin-right: 20px;
  position: relative;
}

.truyen__review__item__pic:before {
  position: absolute;
  right: -30px;
  top: 15px;
  border-top: 15px solid transparent;
  border-left: 15px solid #1d1e39;
  content: "";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.truyen__review__item__pic img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.truyen__review__item__text {
  overflow: hidden;
  background: #1d1e39;
  padding: 18px 30px 16px 20px;
  border-radius: 10px;
  width: 100%;
  height:auto;
}

.truyen__review__item__text h6 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}

.truyen__review__item__text h6 span {
  color: #b7b7b7;
  font-weight: 400;
}

.truyen__review__item__text p {
  color: #b7b7b7;
  line-height: 23px;
  margin-bottom: 0;
}

.truyen__details__form form textarea {
  width: 100%;
  font-size: 15px;
  color: #b7b7b7;
  padding-left: 20px;
  padding-top: 12px;
  height: 110px;
  border: none;
  border-radius: 5px;
  resize: none;
  margin-bottom: 24px;
  border: 2px solid #3d3d3d;
}

.truyen__details__form form button {
  font-size: 11px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
}

/* Truyên hot  */
.category-list {
  padding: 20px;
    background-color: #fdfdfd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  width: 300px;
}

.category-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 30px; /* Space between columns */
  position: relative;
}

.category-list ul li {
  margin-bottom: 10px;
}

.category-list ul li a {
  text-decoration: none;
  color: #1f2129;
  font-size: 16px;
  transition: color 0.3s;
}

.category-list ul li a:hover {
  color:#e89f12;
}
