<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Anime Template" />
  <meta name="keywords" content="Anime, unica, creative, html" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Novel</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />

  <!-- Css Styles -->
  <!-- Css Styles -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'novel/css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'novel/css/font-awesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'novel/css/elegant-icons.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'novel/css/plyr.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'novel/css/nice-select.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'novel/css/owl.carousel.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'novel/css/slicknav.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'novel/css/base.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'novel/css/footer.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'novel/css/header.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'novel/css/admin.css' %}" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.7.1/tinymce.min.js"></script>
  {% block extra_css %}{% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<body>

  <header>
    {% include "header.html" %}
  </header>

  <main>
    <div class="container mt-4 mb-5">
      <!-- Banner -->
      <div class="banner shadow">
        <img id="banner-img" src="../../static/novel/img/metruyenchu.png" alt="Banner" />
        <label class="upload-icon">
          <i class="fas fa-upload"></i>
          <input type="file" id="banner-input" accept="image/*" hidden />
        </label>
      </div>

      <!-- Profile Section -->
      <div class="profile-container p-3 shadow">
        <div class="d-flex align-items-center">
          <!-- Ảnh đại diện -->
          <div class="avatar-container">
            <img id="avatar-img" src="../../static/novel/img/user/user1.png" alt="Ảnh đại diện" />
            <label class="upload-avatar">
              <i class="fas fa-camera"></i>
              <input type="file" id="avatar-input" accept="image/*" hidden />
            </label>
          </div>

          <!-- Thông tin người dùng -->
          <div class="ml-3 thong-tin">
            
            <h4 class="mb-1 fo">Nguyễn Hùng Phi</h4>
            <p class="mb-1 text-muted">Chức vụ: <strong>Admin</strong></p>

            {% if request.user.is_authenticated %}
            <p class="text-muted">ID: <strong>{{ request.user.id }}</strong></p>
        {% endif %}
          </div>
        </div>
      </div>

      <!-- Content -->
      <div class="row mt-4">
        <div class="col-lg-3 col-md-3">

          <div class="section-box">
            <div>
              <ul class="list-unstyled">
                <li>
                  <a href="{% url 'admin_dashboard' %}"><i class="fas fa-history icon-history"></i> Thống kê</a>
                </li>
                <li>
                  <a href="{% url 'user_list' %}"><i class="fas fa-history icon-history"></i> Quản lý tài khoản</a>
                </li>
                <li>
                  <a href="{% url 'novel_create' %}"><i class="fas fa-plus-circle icon-add"></i> Thêm Truyện</a>
                </li>
                <li>
                  <a href="{% url 'novel_list' %}"><i class="fas fa-book icon-book"></i> Danh sách truyện</a>
                </li>            
                <li>
                  <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt text-danger"></i> Thoát</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </main>

  <!-- Footer Section Begin -->
  <footer>
    {% include "footer.html" %}
  </footer>
  <!-- Footer Section End -->

  <!-- Js Plugins -->
  <script src="{% static 'novel/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'novel/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'novel/js/player.js' %}"></script>
  <script src="{% static 'novel/js/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'novel/js/mixitup.min.js' %}"></script>
  <script src="{% static 'novel/js/jquery.slicknav.js' %}"></script>
  <script src="{% static 'novel/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'novel/js/main.js' %}"></script>
  <script src="{% static 'novel/js/sliderindex.js' %}"></script>
  <script src="{% static 'novel/js/home-loading.js' %}"></script>
  <script src="{% static 'novel/js/add-chapter.js' %}"></script>
  <script src="{% static 'novel/js/quill.js' %}"></script>
  <script src="{% static 'novel/js/dropdown-click.js' %}"></script>
  
  <script src="{% static 'novel/js/update-chapter.js' %}"></script>
  

  <script src="{% static 'novel/js/reloadpicture.js' %}"></script>
  {% block extra_js %}{% endblock %}

</body>

</html>