<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Manga Template" />
    <meta name="keywords" content="Manga, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Novel</title>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

    <!-- Css Styles -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'novel/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'novel/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'novel/css/elegant-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'novel/css/plyr.css' %}" />
    <link rel="stylesheet" href="{% static 'novel/css/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'novel/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'novel/css/slicknav.min.css' %}" />
    <link rel="stylesheet" href="{% static 'novel/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'novel/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'novel/css/header.css' %}" />

    <!-- Extra CSS for pages -->
    {% block extra_css %}{% endblock %}

    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
</head>

<body>

     <div class="wrapper"> <!-- Thêm div này -->
    <!-- Header -->
    <header>
      {% include "header.html" %}
    </header>

    <!-- Main Content -->
    <main class="content">
      {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
      {% include "footer.html" %}
    </footer>
  </div>

    <script src="{% static 'novel/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'novel/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'novel/js/player.js' %}"></script>
    <script src="{% static 'novel/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'novel/js/mixitup.min.js' %}"></script>
    <script src="{% static 'novel/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'novel/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'novel/js/main.js' %}"></script>
    <script src="{% static 'novel/js/sliderindex.js' %}"></script>
    <script src="{% static 'novel/js/truyen-detail.js' %}"></script>
    <script src="{% static 'novel/js/dropdown-click.js' %}"></script>
    <script src="{% static 'novel/js/truyen-chapter.js' %}"></script>
    <script src="{% static 'novel/js/quill.js' %}"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    {% block extra_js %}{% endblock %}
    <!-- FontAwesome -->

</body>

</html>