<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="footer-title">Về Mê Truyện Chữ</h4>
                <p class="footer-text py-2">
                    <a href="#" class="text-primary">Mê Truyện Chữ</a> là nền tảng
                    <a href="#" class="text-primary">đọc truyện chữ</a>,
                    <a href="#" class="text-primary">truyện hay</a> online miễn phí
                    được convert hoặc dịch kỹ lưỡng. Website luôn cập nhật những bộ
                    <a href="#" class="text-primary">truyện hot</a> thuộc các thể loại
                    đặc sắc như <a href="#" class="text-primary">truyện tiên hiệp</a>,
                    <a href="#" class="text-primary">truyện kiếm hiệp</a>, hay
                    <a href="#" class="text-primary">truyện ngôn tình</a> một cách
                    nhanh nhất, cùng
                    <a href="#" class="text-primary">blog tin tức truyện chữ</a> chi tiết.
                </p>

                <div class="text-md-center text-lg-end no-underline">
                    <a href="#" class="mx-2 link-footer">Điều khoản dịch vụ</a>
                    <a href="#" class="mx-2 link-footer">Về chúng tôi</a>
                    <a href="#" class="mx-2 link-footer">Blog</a>
                    <a href="#" class="mx-2 link-footer">Liên hệ</a>
                </div>
            </div>
        </div>
    </div>
</footer>