{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'novel/css/listnovel.css' %}">
<style>
.stat-card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.456);
  transition: transform 0.2s;
}


.stat-icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.stat-icon i {
  font-size: 24px;
  color: #fff;
}

.novel-icon { background: #4e73df; }
.chapter-icon { background: #1cc88a; }
.user-icon { background: #36b9cc; }

.stat-number {
  font-size: 24x;
  font-weight: bold;
  margin: 10px 0 5px;
}

.stat-label {
  color: #858796;
  font-size: 14px;
}
</style>
{% endblock %}

{% block title %}Thống Kê{% endblock %}

{% block content %}
<div class="col-md-9 col-lg-9 mx-auto">
  <div class="card p-4 shadow-lg">
    <div class="d-flex align-items-center gap-3 mb-4">
      {% load static %}
      <img src="{% static 'novel/img/thongke.svg' %}" alt="Report Icon"
        alt=""
        width="40"
      />
      <h4 class="ml-2 mb-0 text-primary">Thống kê</h4>
    </div>

    <div class="row">
      <!-- Truyện -->
      <div class="col-md-4">
        <div class="stat-card">
          <div class="stat-icon novel-icon">
            <i class="fas fa-book"></i>
          </div>
          <div class="stat-number">{{ novels_count }}</div>
          <div class="stat-label">Tổng số truyện</div>
        </div>
      </div>

      <!-- Chương -->
      <div class="col-md-4">
        <div class="stat-card">
          <div class="stat-icon chapter-icon">
            <i class="fas fa-bookmark"></i>
          </div>
          <div class="stat-number">{{ chapters_count }}</div>
          <div class="stat-label">Tổng số chương</div>
        </div>
      </div>

      <!-- Users -->
      <div class="col-md-4">
        <div class="stat-card">
          <div class="stat-icon user-icon">
            <i class="fas fa-users"></i>
          </div>
          <div class="stat-number">{{users_count}}</div>
          <div class="stat-label">Tổng số người dùng</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

