{% extends "base_user.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'novel/css/home.css' %}">
{% endblock %}

{% block content %}
<section class="truyen py-4">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {% for novel in all_novels %}
        <div class="swiper-slide">
          <div class="truyen__items set-bg"
            data-setbg="{{ novel.ImgUrl|default_if_none:'/static/novel/img/default_slider_placeholder.jpg' }}"></div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="swiper sw1">
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="custom-prev">
    <svg width="30" height="30" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M9.224 1.553a.5.5 0 0 0-.671.223l-3 6a.5.5 0 0 0 0 .448l3 6a.5.5 0 1 0 .894-.448L6.56 8l2.887-5.776a.5.5 0 0 0-.223-.671" />
    </svg>
  </div>
  <div class="custom-next">
    <svg width="30" height="30" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671" />
    </svg>
  </div>
</section>

<section class="product pb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="trending-section" class="trending__product py-4">
          <div class="section-title mt-4 mb-4 py-2 px-3">
            <h4>Truyện Hot</h4>
            <div class="btn__all text-right text-sm-center">
              <a href="{% url 'all_novel' %}" class="btn-xemtatca">
                Xem tất cả
              </a>
            </div>
          </div>

          <div class="novel-grid mt-3">
            {% for novel in all_novels %}
            <div class="novel-card">
              <div class="product__item">
                <div class="product__item__pic set-bg"
                  data-setbg="{{ novel.ImgUrl|default_if_none:'/static/novel/img/default_product_placeholder.jpg' }}">
                  <div class="ep">{{ novel.ChapCount }} chương</div>
                  <div class="Name">{{ novel.Name }}</div>
                </div>
                <div class="product__item__text">
                  <ul>
                    {% for category_novel_obj in novel.categorynovel_set.all|slice:":2" %}
                    <li>{{ category_novel_obj.Category.Name }}</li>
                    {% empty %}
                    <li>Đang cập nhật</li>
                    {% endfor %}
                  </ul>
                </div>
                <a href="{% url 'user_novel_detail' novel.NovelId %}" class="full-link" title="{{ novel.Name }}"></a>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>

    <div class="container mt-2">
  <div class="row">
    <div class="col-lg-12 mb-md-0">
      <div class="section-title py-2 px-3">
        <h4>Truyện Đọc Nhiều</h4>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" colspan="2">Tên Truyện</th>
              <th scope="col">Thể loại</th>
              <th scope="col">Số chương</th>
              <th scope="col">Lượt đọc</th>
            </tr>
          </thead>
          <tbody>
            {% for novel in novel_rank %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>
                <a href="{% url 'user_novel_detail' novel.NovelId %}"
                  class="story-link text-decoration-none d-flex align-items-center">
                  <div class="book">
                    <div class="book-cover"
                      style="background-image: url('{{ novel.ImgUrl }}'); background-size: cover;"></div>
                  </div>
                </a>
              </td>
              <td>
                <a href="{% url 'user_novel_detail' novel.NovelId %}" class="story-link text-decoration-none position-relative" 
                  title="{{ novel.Name }}">
                  <p class="font-15-bold d-inline-block me-1">{{novel.Name}}</p>{# Added d-inline-block and me-1 for spacing #}
                  <span class="hot-label">HOT</span> {# Added the HOT label #}
                </a>
              </td>
              <td class="font-15-bold">
                {% for category_novel_obj in novel.categorynovel_set.all|slice:":2" %}
                <span class="category-item">{{ category_novel_obj.Category.Name }}</span>{% if not forloop.last%}, {% endif %}
                {% empty %}
                Đang cập nhật
                {% endfor %}
              </td>
              <td class="red-bold">{{ novel.ChapCount }} chương</td>
              <td class="font-15-bold">{{ novel.ViewCount }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="update__product">
              <div class="section-title mt-4 mb-4 py-2 px-3">
                <h4>Truyện có chương mới</h4>
                <div class="btn__all text-right text-sm-center">
                  <a href="{% url 'all_novel' %}" class="btn-xemtatca">
                    Xem tất cả
                  </a>
                </div>
              </div>

              <div class="row mt-3">
                {% for novel in novelupdates %}
                <div class="col-lg-6 col-md-12 mb-4 d-flex">
                  <div class="card d-flex flex-row w-100">
                    <div class="img-box">
                      <a href="{% url 'user_novel_detail' novel.NovelId %}">
                        <img src="{{ novel.ImgUrl }}" alt="{{ novel.Name }}">
                      </a>
                    </div>
                    <div class="card-body novel-update-info">
                      <h6 class="novel-title">
                        <a href="{% url 'user_novel_detail' novel.NovelId %}">{{ novel.Name }}</a>
                      </h6>
                      {% if novel.latest_chapter and novel.latest_chapter.ChapId %}
                      <p class="latest-chapter">
                        <strong><i class="fas fa-fire"></i></strong>
                        <a href="{% url 'user_chapter_detail' novel.NovelId novel.latest_chapter.ChapId %}"
                          class="chapter-link">
                         {{ novel.latest_chapter.Name }}
                        </a>
                      </p>
                      <p class="time-info">
                        <i class="fas fa-clock"></i> {{ novel.latest_update_display }}
                      </p>
                      {% else %}
                      <p class="latest-chapter">
                        <i class="fas fa-exclamation-circle"></i> Chưa có chương nào
                      </p>
                      {% endif %} {# Added this missing endif tag #}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}