.footer {
  background: #ffff;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
  border-top: 2px solid #e0e0e0;
}

.page-up {
  position: absolute;
  left: 50%;
  top: -25px;
  margin-left: -25px;
}

.page-up a {
  display: inline-block;
  font-size: 36px;
  color: #1f2129;
  height: 50px;
  width: 50px;
  background: rgb(216, 216, 216);
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}
.footer-title {
  color: #1f2129;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.footer-text {
  color: #1f2129;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.link-footer {
  color: #1f2129;
  font-size: 1rem;
  font-weight: 700;
}

.link-footer:hover {
  color: #000000;
}

/* Menu dropdown   */
ul.dropdown {
  display: none; /* Hide the dropdown by default */
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  width: 100%; /* Full width */
  display: flex;
  flex-wrap: wrap;
}

/* Show the dropdown menu on hover */
li:hover > ul.dropdown {
  display: flex;
}

/* Style for the dropdown items */
ul.dropdown li {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  flex: 1 1 50%;
}

ul.dropdown li a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

ul.dropdown li a:hover {
  background-color: #f1f1f1;
}
/* button search and user */
.user-button {
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 5px;
  color: #1f2129;
}

.search-button1 {
  font-weight: bold;
  border-radius: 5px;
  color: #1f2129;
}
.search-button1 i {
  font-size: 18px;
}
.user-button i {
  font-size: 18px;
}
.user-button:hover,
.search-button1:hover {
  color: #1f2129; /* Giữ nguyên màu khi hover */
}
.sign-in-container {
  position: relative;
  display: inline-block;
}

.user-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 150px;
  background: rgba(18, 18, 18, 0.87);
  text-align: left;
  padding: 3px 0;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  list-style: none;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 15px;
}

.user-dropdown li {
  padding: 8px 15px;
}

.user-dropdown li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px; /* Khoảng cách giữa icon và chữ */
}

.user-dropdown li a i {
  font-size: 16px;
  color: #ccc; /* Màu icon */
}
.user-dropdown li a:hover {
  color: #c72526;
}

/* Khi có class .show, dropdown sẽ hiển thị */
.user-dropdown.show {
  opacity: 1;
  visibility: visible;
}
