.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
  border-top: 1px solid #202020;
  margin-left:auto;
  margin-right:auto;
}

.page-up {
  position: absolute;
  left: 50%;
  top: -25px;
  margin-left: -25px;
}

.page-up a {
  display: inline-block;
  font-size: 36px;
  color: #1f2129;
  height: 50px;
  width: 50px;
  background: rgb(216, 216, 216);
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}
.footer-title {
  color: #1f2129;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.footer-text {
  color: #1f2129;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.link-footer {
  color: #1f2129;
  font-size: 1rem;
  font-weight: 700;
}

.link-footer:hover {
  color: #000000;
}

