.user-button {
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 5px;
  color: #ffff;
}

.search-button1 {
  font-weight: bold;
  border-radius: 5px;
  color: #ffff;
}
.search-button1 i {
  font-size: 18px;
}
.user-button i {
  font-size: 18px;
}
.sign-in-container {
  position: relative;
  display: inline-block;
}

.user-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 150px;
  background: rgba(18, 18, 18, 0.87);
  text-align: left;
  padding: 3px 0;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  list-style: none;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 15px;
}

.user-dropdown li {
  padding: 8px 15px;
}

.user-dropdown li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px; /* Khoảng cách giữa icon và chữ */
}

.user-dropdown li a i {
  font-size: 16px;
  color: #ccc; /* Màu icon */
}
.user-dropdown li a:hover {
  color: #c72526;
}

/* Khi có class .show, dropdown sẽ hiển thị */
.user-dropdown.show {
  opacity: 1;
  visibility: visible;
}
